[paths]

local_cache: /var/cache/1-1e100
log_file: /home/1-1e100/proxy.log

[options]

; logging level: debug, info, warn, error, critical
log_level=debug

; Download all missing resources to the cache
; if object is not in cache a 404 is returned
download_missing = True

; What to do if a request was not handled:
; True = block it
; False = let it go through
default_policy_is_block = True

; This will go away soon
suggest_archiveorg = True

[rules]

ajax.googleapis.com: /ajax/.+
fonts.googleapis.com: /.*
fonts.gstatic.com: /.*
www.gstatic.com: /images/icons/.*
mm-staticassets.storage.googleapis.com: /.*
; gstatic.com
; googleusercontent.com

[passthrough]
www.google.com: /recaptcha/.*
